{% extends '../_base.html' %}
{% load static %}


{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/article.css' %}">
{% endblock style %}



{% block body %}
    <main>
        <h1>{{context.title}}</h1>
            {{context.body | safe}}
        <hr>
        <br>
        <h2>Tasks:</h2>

        {% for value in context.excercises.values %}
            <div class="example"-->
                <h3>{{value.problem}}</h3>
                <code>{{value.solution}}</code>
                <p>{{value.solution}}</p>
            </div>
        {% endfor %}

    </main>
{% endblock body %}