{% extends '../_base.html' %}
{% load static %}


{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/article.css' %}">
{% endblock style %}



{% block body %}
    <main>
        <h1>{{context.title}}</h1>
            {{context.body | safe}}
        <hr>
        <br>
        <h2>Tasks:</h2>

        {% for item in context.excercises.values %}   {#% if forloop.counter < context.excercises.values|length|mul:"0.5" %#}
            {% if forloop.counter <= sample_task_amount %}
                <div class="example">
                    <h3>{{item.title}}</h3>
                    <p>{{value.problem}}</p>
                    <br>
                    <p>{{value.explanation_solution}}</p>
                    <code>{{value.solution}}</code>
                </div>
            {% endif %}
            {% if forloop.counter > sample_task_amount %}
                <h3>{{item.title}}</h3>
            {% endif %}
        {% endfor %}

    </main>
{% endblock body %}