{% extends '../_base.html' %}
{% load static %}


{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/article.css' %}">
{% endblock style %}



{% block body %}
    <main>

        <input type="checkbox" class="accordion" id="show_article">
        <label class="label-accordion" for="show_article">Articles</label>
        <div class="panel">
            <h1>{{sample_excercises.items}}</h1>
            <h1>{{context.title}}</h1>
                {{context.body | safe}}
        </div>

        <hr>

        <input type="checkbox" class="accordion" id="show_samples">
        <label class="label-accordion" for="show_samples">Samples</label>
        <div class="panel">
            {#% if forloop.counter < context.excercises.values|length|mul:"0.5" %#}
            {% for item in sample_excercises.values %}
                <h3>{{item.title}}</h3>
                <p>{{item.problem}}</p>
                <br>
                <div class="example">
                    <p>{{item.explanation_solution}}</p>
                    <code>{{item.solution}}</code>

                </div>
            {% endfor %}
        </div>

        <input type="checkbox" class="accordion" id="show_tasks">
        <label class="label-accordion" for="show_tasks">Tasks</label>
        <div class="panel">
            {% for item in excercises.values %}
                <h3>{{item.title}}</h3>
                <p>{{item.problem}}</p>
            {% endfor %}
        </div>

    </main>
{% endblock body %}