{% extends '../_base.html' %}
{% load static %}


{% block body %}
<style type="text/css">
    td {
        border: 2px solid black;
        padding: 5px;
    }
</style>

<div style="margin-top: 120px;">
    <div>
        <table>
            <tr>
                <td><a href="{% url 'article:create' %}"><button>Add article</button></a></td>
                <td><a href="{% url 'article:add-excercise' %}"><button>Add excercise</button></a></td>
                <td><a href="{% url 'article:add-tag' %}"><button>Add tag</button></a></td>
            </tr>
        </table>
    </div>
    <div>
        <form action="{% url 'article:tag-filter' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="filter_list" value="{{ filter_tag }}">
            {% for tag in filter_tag %}
            <button type="submit" name="tag_remove" value="{{ tag.id }}">{{ tag.title }} ❌ </button><br/>
            {% endfor %}
        </form>
    </div>
    <table>
        <tr>
            <th>Title</th>
            <th>Created at</th>
            <th>Updated at</th>
            <th>Tags</th>
            <th></th>
            <!-- <td>Tags</td> -->
        </tr>
        {% for kw in page_obj %}
        <tr>
            <td><a href="{% url 'article:excercise_article' kw.pk %}">{{ kw.title }}</a></td>
            <td>{{ kw.created_at }}</td>
            <td>{{ kw.updated_at }}</td>
            <td>
                <form action="{% url 'article:tag-filter' %}" method="get">
                    {% for tag in kw.tags.all %}
                    <input hidden type="hidden" name="tag" value="{{ tag.id }}">
                    <button type="submit">{{ tag.title }}</button><br/>
                    {% endfor %}
                </form>
            </td>
            <td><a href="{% url 'article:excercise_article' kw.pk %}"><button>View</button></a>
                <a href="{% url 'article:update-article' kw.pk %}"><button>Edit</button></a>
                <button>Delete</button></td>
            <!-- <td>{{ kw.excercises.items }}</td> -->
        </tr>
        {% endfor %}
    </table>
    
    
    <!-- {% for page_number in page_obj.paginator.page_range %}
    <a
        href="{% url 'article:list_excercise_articles' page_number %}"
    >
        {{ page_number }}
    </a>
    {% endfor %} -->

    {% if page_obj.has_previous %}
        <a href="{% url 'article:list_excercise_articles' 1 %}">
            first page
        </a>
        <a href="{% url 'article:list_excercise_articles' page_obj.previous_page_number %}">
            prev
        </a>
    {% endif%}

    <a>{{page_obj.number}} of {{page_obj.paginator.num_pages}}</a>

    {% if page_obj.has_next %}
        <a href="{% url 'article:list_excercise_articles' page_obj.next_page_number %}">
            next
        </a>
        <a href="{% url 'article:list_excercise_articles' page_obj.paginator.num_pages %}">
            last page
        </a>
    {% endif%}
</div>
    
{% endblock body %}