{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/_base.css' %}">
        {% block style_panel_overlay %}
        {% endblock style_panel_overlay %}
        {% block style %}
        {% endblock style %}
    </head>
    <body>
        {% if messages %}
        {% for message in messages %}
        {{ message }}
        {% endfor %}
        {% endif %}

        {% block headline %}
        {% endblock headline %}

        {% block body %}
        {% endblock body %}

        {% block footerline %}
        {% endblock footerline %}
    </body>
</html>
