{% extends '_base.html' %}
{% load static %}

{% block style_panel_overlay %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/panel_overlay.css' %}">
{% endblock style_panel_overlay %}

{% block headline %}
    <header>
        <div class="button-group-header">
            <button>DragonFly</button>
        </div>
        <div class="button-group-header">
            <button>Courses</button>
            <button>Skills</button>
            <button>Tests</button>
            <button>Simulators</button>
        </div>
        <div class="button-group-header-icon">
            <button class="rotate-button">
                <img src="{% static 'img/settings.png' %}" alt="no img" class="user-img">
            </button>
            <button><img src="{% static 'img/default_user_img.png' %}" alt="no img" class="user-img"></button>
        </div>

        <div class="overlay">
            <div>
                <h2>Overlay Panel</h2>
                <p>This is the overlay content.</p>
            </div>
        </div>
    </header>

{% endblock headline %}

{% block footerline %}
{% endblock footerline %}